.movie-card {
  position: relative;
  min-width: 180px;
  height: 270px;
  cursor: pointer;
  transition: transform 0.3s;
}

.movie-card img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  object-fit: cover;
}

.movie-card:hover {
  transform: scale(1.08);
}

.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0,0,0,0.8), transparent);
  display: flex;
  align-items: flex-end;
  padding: 10px;
  opacity: 0;
  transition: 0.3s;
  border-radius: 6px;
}

.movie-card:hover .overlay {
  opacity: 1;
}

.overlay p {
  font-size: 14px;
  font-weight: bold;
}
